<div class="change-password-container">
    <div class="title fs-40">
        <label>{{ "profile.change-password" | translate }}</label>
        <img    class="cursor-pointer" src="../../../assets/media/images/back-to-edit.png" 
                height=40px 
                matTooltip="{{ 'general.back-to-edit' | translate }}"
                (click)="backToEdit()">
    </div>

    <div class="change-password-content" [formGroup]="form">
        <!-- Current Password -->
        <mat-form-field class="example-full-width" appearance="outline" class="field">
            <mat-label>{{ 'profile.current-password' | translate }}</mat-label>
            <input matInput required formControlName="currentPassword" type="password">
            <mat-error *ngIf="form.get('currentPassword')!.hasError('required')">
                {{ 'errors.password-required' | translate }}
            </mat-error>
        </mat-form-field>

        <!-- New Password -->
        <mat-form-field class="example-full-width" appearance="outline" class="field">
            <mat-label>{{ 'profile.new-password' | translate }}</mat-label>
            <input matInput required formControlName="password" type="password">
            <mat-error *ngIf="form.get('password')!.hasError('required')">
                {{ 'errors.password-required' | translate }}
            </mat-error>
            <mat-error *ngIf="form.get('password')!.hasError('minlength')">
                {{ 'errors.password-length-error' | translate }}
            </mat-error>
            <mat-error *ngIf="form.get('password')!.hasError('passwordStrength') && !form.get('password')!.hasError('minlength')">
                {{ 'errors.password-error-template' | translate }}
            </mat-error>
        </mat-form-field>

        <!-- Confirm New Password -->
        <mat-form-field class="example-full-width" appearance="outline" class="field">
            <mat-label>{{ 'profile.confirm-password' | translate }}</mat-label>
            <input matInput required formControlName="confirmPassword" type="password">
            <mat-error *ngIf="form.get('confirmPassword')!.hasError('required')">
                {{ 'errors.password-required' | translate }}
            </mat-error>
            <mat-error *ngIf="form.hasError('passwordConfirmedError') && !form.get('confirmPassword')!.hasError('required')">
                {{ 'errors.password-no-match' | translate }}
            </mat-error>
        </mat-form-field>
    </div>
    
    <button class="btn btn-outline-light mt-2 save-btn fs-18"
        (click)="save()">{{ 'profile.save-change-password' | translate }}
    </button>
</div>