.change-password-container {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    color: white;

    height: 680px;
    overflow: hidden;   
    
    display:grid;
    grid-template-rows: 60px 560px auto;
}

.change-password-content{
    margin-top: 150px;
    display: grid;
    grid-template-rows: 100px 100px 100px;
}

.title{
    font-family: 'Shadows Into Light', cursive;
    padding-bottom: 20px;

    display: grid;
    grid-template-columns: 380px 40px;
}

.field{
    margin-bottom: 20px;
    line-height: normal;
    height: 70px;
    color: white;
    font-size: medium !important;
}

.save-btn{
    width: 150px;
    margin: auto;
}
