<div class="chest-info-container">
    <div class="title">
        <img src="../../../../assets/media/images/chest-icon.png" height=80px>
        <label class="chest-title">
            {{ 'workout-info.chest.title' | translate }}
        </label>
        <img src="../../../../assets/media/images/chest-icon.png" height=80px>
    </div> 
    <div class="container-workout-info">
        <div class="exercise-template">
            <div class="images-row">
                <div class="description-warm-up">
                    <label class="fs-30"> {{ 'workout-info.warm-up' | translate }} </label>
                </div>
                <div class="video-warm-up">
                    <iframe style="border-radius:20px;" class="black-drop-shadow" width="530" height="300" src="https://www.youtube.com/embed/Jc-VdY0joqo?autoplay=0&mute=1">
                    </iframe>
                </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:20px;" src="../../../../assets/media/images/chest-01.jpg" height=350px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.chest.dips.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.chest.dips.why-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.chest.dips.how-to-description' | translate }}</label>
                    </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.chest.feet-elevated-press-up.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.chest.feet-elevated-press-up.why-description' | translate }}  </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.chest.feet-elevated-press-up.how-to-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:100px;" src="../../../../assets/media/images/chest-02.jpg" height=200px;>
                </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:60px;" src="../../../../assets/media/images/chest-03.jpg" height=250px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.chest.deficit-press-up.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.chest.deficit-press-up.why-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.chest.deficit-press-up.how-to-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.chest.gymnastics-rings-press-ups.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.chest.gymnastics-rings-press-ups.why-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.chest.gymnastics-rings-press-ups.how-to-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:50px;" src="../../../../assets/media/images/chest-04.jpg" height=250px;>
                </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:20px;" src="../../../../assets/media/images/chest-05.jpg" height=350px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.chest.tempo-press-ups.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.chest.tempo-press-ups.why-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.chest.tempo-press-ups.how-to-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.chest.flat-dumbbell-press.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.chest.flat-dumbbell-press.why-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.chest.flat-dumbbell-press.how-to-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/chest-06.jpg" height=350px;>
                </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:60px;" src="../../../../assets/media/images/chest-07.jpg" height=250px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.chest.incline-dumbbell-press.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.chest.incline-dumbbell-press.why-description' | translate }}</label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.chest.incline-dumbbell-press.how-to-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.chest.dumbbell-press-to-fly.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.chest.dumbbell-press-to-fly.why-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.chest.dumbbell-press-to-fly.how-to-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:50px;" src="../../../../assets/media/images/chest-08.jpg" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:30px;" src="../../../../assets/media/images/chest-09.gif" height=300px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.chest.dumbbell-squeeze-press.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.chest.dumbbell-squeeze-press.why-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.chest.dumbbell-squeeze-press.how-to-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.chest.incline-bench-press.title' | translate }}  </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.chest.incline-bench-press.why-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.chest.incline-bench-press.how-to-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:50px;" src="../../../../assets/media/images/chest-10.jpg" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:30px;" src="../../../../assets/media/images/chest-11.jpg" height=300px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.chest.guillotine-press.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.chest.guillotine-press.why-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.chest.guillotine-press.how-to-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.chest.close-grip-bench-press.title' | translate }}  </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.chest.close-grip-bench-press.why-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.chest.close-grip-bench-press.how-to-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:50px;" src="../../../../assets/media/images/chest-12.jpg" height=250px;>
                </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:30px;" src="../../../../assets/media/images/chest-13.jpg" height=250px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.chest.banded-resisted-press-ups.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.chest.banded-resisted-press-ups.why-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.chest.banded-resisted-press-ups.how-to-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.chest.cable-crossover.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.chest.cable-crossover.how-to-description' | translate }}</label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/chest-14.gif" height=250px;>
                </div>
            </div>
        </div>

        <div class="footer-note fs-25">
            <label> {{ 'workout-info.footer.text-1' | translate }} <a href="https://www.menshealth.com/uk/building-muscle/a759235/best-chest-exercises-for-building-muscle/">{{ 'workout-info.footer.text-2' | translate }}</a> {{ 'workout-info.footer.text-3' | translate }} </label>
        </div>

</div>