<div class="core-info-container">
    <div class="title">
        <img src="../../../../assets/media/images/core-icon.png" height=80px>
        <label class="core-title">
            {{ 'workout-info.core.title' | translate }}
        </label>
        <img src="../../../../assets/media/images/core-icon.png" height=80px>
    </div>
    <div class="container-workout-info">
        <div class="exercise-template">
            <div class="images-row">
                <div class="description-warm-up">
                    <label class="fs-30"> {{ 'workout-info.warm-up' | translate }} </label>
                </div>
                <div class="video-warm-up">
                    <iframe style="border-radius:20px;" class="black-drop-shadow" width="530" height="300" src="https://www.youtube.com/embed/2W8BBsF03_8?autoplay=0&mute=1">
                    </iframe>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/abs-01.gif" height=300px;>
                </div>
                <div class="description mt-5">
                    <label class="fs-30"> <b> {{ 'workout-info.core.barbell-floor-wiper.title' | translate }} </b> </label>
                    <label class="fs-20"><b>{{ 'workout-info.how-to' | translate }}:</b> {{ 'workout-info.core.barbell-floor-wiper.how-to-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description mt-3">
                    <label class="fs-30"> <b> {{ 'workout-info.core.medicine-ball-slam.title' | translate }}  </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.core.medicine-ball-slam.how-to-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/abs-02.jpg" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/abs-03.jpg" height=300px;>
                </div>
                <div class="description mt-5">
                    <label class="fs-30"> <b> {{ 'workout-info.core.side-jackknife.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.core.side-jackknife.how-to-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description mt-3">
                    <label class="fs-30"> <b> {{ 'workout-info.core.dragon-flag.title' | translate }}  </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.core.dragon-flag.how-to-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/abs-04.jpg" height=260px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:40px;" src="../../../../assets/media/images/abs-05.jpeg" height=300px;>
                </div>
                <div class="description mt-5">
                    <label class="fs-30"> <b> {{ 'workout-info.core.cable-woodchopper.title' | translate }}  </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.core.cable-woodchopper.how-to-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description mt-3">
                    <label class="fs-30"> <b> {{ 'workout-info.core.cocoon.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.core.cocoon.how-to-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/abs-06.gif" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/abs-07.jpg" height=300px;>
                </div>
                <div class="description mt-5">
                    <label class="fs-30"> <b> {{ 'workout-info.core.sandbag-sit-up.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.core.sandbag-sit-up.how-to-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description mt-3">
                    <label class="fs-30"> <b> {{ 'workout-info.core.hanging-leg-raise.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.core.hanging-leg-raise.how-to-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/abs-08.jpg" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/abs-09.jpg" height=300px;>
                </div>
                <div class="description mt-5">
                    <label class="fs-30"> <b> {{ 'workout-info.core.superman-with-a-twist.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.core.superman-with-a-twist.how-to-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description mt-3">
                    <label class="fs-30"> <b> {{ 'workout-info.core.hollow-rocks.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.core.hollow-rocks.how-to-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/abs-10.jpg" height=230px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/abs-11.gif" height=300px;>
                </div>
                <div class="description mt-5">
                    <label class="fs-30"> <b> {{ 'workout-info.core.barbell-roll-outs.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.core.barbell-roll-outs.how-to-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description mt-3">
                    <label class="fs-30"> <b> {{ 'workout-info.core.russian-twists.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.core.russian-twists.how-to-description' | translate }}  </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/abs-12.jpg" height=230px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/abs-13.jpg" height=300px;>
                </div>
                <div class="description mt-5">
                    <label class="fs-30"> <b> {{ 'workout-info.core.hollow-holds.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.core.hollow-holds.how-to-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description mt-100">
                    <label class="fs-30"> <b> {{ 'workout-info.core.dumbbell-deadbugs.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.core.dumbbell-deadbugs.how-to-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/abs-14.jpg" height=400px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:80px;" src="../../../../assets/media/images/abs-15.jpg" height=250px;>
                </div>
                <div class="description mt-5">
                    <label class="fs-30"> <b> {{ 'workout-info.core.bear-crawls.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.core.bear-crawls.how-to-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description mt-100">
                    <label class="fs-30"> <b> {{ 'workout-info.core.butterfly-sit-ups.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.core.butterfly-sit-ups.how-to-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:40px;" src="../../../../assets/media/images/abs-16.jpg" height=350px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:80px;" src="../../../../assets/media/images/abs-17.gif" height=300px;>
                </div>
                <div class="description mt-100">
                    <label class="fs-30"> <b> {{ 'workout-info.core.cable-crunch.title' | translate }} </b> </label>
                    <label class="fs-20"><b>{{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.core.cable-crunch.how-to-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description mt-100">
                    <label class="fs-30"> <b> {{ 'workout-info.core.overhead-crunch.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.core.overhead-crunch.how-to-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:40px;" src="../../../../assets/media/images/abs-18.jpg" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/abs-19.jpg" height=250px;>
                </div>
                <div class="description mt-5">
                    <label class="fs-30"> <b> {{ 'workout-info.core.plank-pass-through.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.core.plank-pass-through.how-to-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.core.landmine-rotations.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.core.landmine-rotations.how-to-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:110px;" src="../../../../assets/media/images/abs-20.jpg" height=250px;>
                </div>
            </div>
        </div>

        <div class="footer-note fs-25">
            <label> {{ 'workout-info.footer.text-1' | translate }} <a href="https://www.menshealth.com/uk/building-muscle/a757285/best-ab-exercises/">{{ 'workout-info.footer.text-2' | translate }}</a> {{ 'workout-info.footer.text-3' | translate }} </label>
        </div>

</div>