<div class="legs-info-container">
    <div class="title">
        <img src="../../../../assets/media/images/legs-icon-2.png" height=80px>
        <label class="legs-title black-drop-shadow">
            {{ 'workout-info.legs.title' | translate }}
        </label>
        <img src="../../../../assets/media/images/legs-icon-1.png" height=80px>
    </div>
    <div class="container-workout-info">
        <div class="exercise-template">
            <div class="images-row">
                <div class="description-warm-up">
                    <label class="fs-30"> {{ 'workout-info.warm-up' | translate }} </label>
                </div>
                <div class="video-warm-up">
                    <iframe style="border-radius:20px;" class="black-drop-shadow" width="530" height="300" src="https://www.youtube.com/embed/r6AcUJL8gq0?autoplay=0&mute=1">
                    </iframe>
                </div>
            </div>
        </div>

        <div class="muscles-explained">
            <label class="fs-40 black-drop-shadow" style="color:rgb(0, 0, 0); margin-bottom:20px;"> {{ 'workout-info.legs.leg-muscles.title' | translate }} </label>
            <label class="fs-20"> {{ 'workout-info.legs.leg-muscles.text' | translate }} </label>
            <label class="fs-25" style="color:tomato; margin-top:20px;"> {{ 'workout-info.legs.leg-muscles.glutes-title' | translate }} </label>
            <label class="fs-20">  {{ 'workout-info.legs.leg-muscles.glutes-text' | translate }} </label>
            
            <label class="fs-25" style="color:tomato; margin-top:20px;"> {{ 'workout-info.legs.leg-muscles.adductors-title' | translate }} </label>
            <label class="fs-20"> {{ 'workout-info.legs.leg-muscles.adductors-text' | translate }}  </label>
            
            <label class="fs-25" style="color:tomato; margin-top:20px;">{{ 'workout-info.legs.leg-muscles.hamstrings-title' | translate }}</label>
            <label class="fs-20"> {{ 'workout-info.legs.leg-muscles.hamstrings-text' | translate }} </label>
            
            <label class="fs-25" style="color:tomato; margin-top:20px;"> {{ 'workout-info.legs.leg-muscles.quadriceps-title' | translate }} </label>
            <label class="fs-20"> {{ 'workout-info.legs.leg-muscles.quadriceps-text' | translate }}  </label>
            
            <label class="fs-25" style="color:tomato; margin-top:20px;"> {{ 'workout-info.legs.leg-muscles.calves-title' | translate }} </label>
            <label class="fs-20"> {{ 'workout-info.legs.leg-muscles.calves-text' | translate }}  </label>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:100px;" src="../../../../assets/media/images/legs-01.gif" height=300px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.legs.barbell-bulgarian-split-squat.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.legs.barbell-bulgarian-split-squat.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.legs.barbell-bulgarian-split-squat.why-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.legs.romanian-deadlift.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.legs.romanian-deadlift.how-to-description' | translate }}  </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.legs.romanian-deadlift.why-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:60px;" src="../../../../assets/media/images/legs-02.jpg" height=250px;>
                </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:50px;" src="../../../../assets/media/images/legs-03.png" height=300px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.legs.goblet-squat.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.legs.goblet-squat.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.legs.goblet-squat.why-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.legs.kettlebell-pistol-squat.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.legs.kettlebell-pistol-squat.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.legs.kettlebell-pistol-squat.why-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:30px;" src="../../../../assets/media/images/legs-04.gif" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:50px;" src="../../../../assets/media/images/legs-05.gif" height=300px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.legs.single-leg-curl.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.legs.single-leg-curl.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.legs.single-leg-curl.why-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.legs.leg-extension.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.legs.leg-extension.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.legs.leg-extension.why-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:30px;" src="../../../../assets/media/images/legs-06.gif" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:100px;" src="../../../../assets/media/images/legs-07.jpg" height=300px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.legs.prowler-push.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.legs.prowler-push.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.legs.prowler-push.why-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.legs.box-jumps.title' | translate }}  </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.legs.box-jumps.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.legs.box-jumps.why-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:30px;" src="../../../../assets/media/images/legs-08.jpg" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:30px;" src="../../../../assets/media/images/legs-09.jpg" height=300px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.legs.box-squats.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.legs.box-squats.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.legs.box-squats.why-description' | translate }} </label>
                </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.legs.barbell-front-squats.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.legs.barbell-front-squats.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.legs.barbell-front-squats.why-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:80px;" src="../../../../assets/media/images/legs-10.gif" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/legs-11.jpg" height=300px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.legs.bodyweight-split-squat.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.legs.bodyweight-split-squat.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.legs.bodyweight-split-squat.why-description' | translate }} </label>
                </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.legs.sumo-deadlift.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.legs.sumo-deadlift.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.legs.sumo-deadlift.why-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:60px;" src="../../../../assets/media/images/legs-12.jpg" height=250px;>
                </div>
            </div>
        </div>

        <div class="exercise-template ">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/legs-13.jpg" height=300px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b>  {{ 'workout-info.legs.bus-driver-aquat-hold.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.legs.bus-driver-aquat-hold.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.legs.bus-driver-aquat-hold.why-description' | translate }} </label>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.legs.leg-press.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.legs.leg-press.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.legs.leg-press.why-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:90px;" src="../../../../assets/media/images/legs-14.jpg" height=250px;>
                </div>
            </div>
        </div>

        <div class="footer-note fs-25">
            <label> {{ 'workout-info.footer.text-1' | translate }} <a href="https://www.menshealth.com/uk/workouts/a29208586/best-leg-exercises/">{{ 'workout-info.footer.text-2' | translate }}</a> {{ 'workout-info.footer.text-3' | translate }} </label>
        </div>

    </div>
</div>