<div class="container-page full-width full-height">
    <div class="card main-card">
        <div class="header-pass">
            <img src="../../../assets/media/images/logo-inline-transparent.png" alt="Logo" height="60px">
        </div>

        <div class="container" [formGroup]="form">
            <!-- Email -->
            <mat-form-field class="example-full-width" appearance="outline" class="field">
                <mat-label>{{ 'general.email' | translate }}</mat-label>
                <input matInput required formControlName="email">
                <mat-error *ngIf="form.get('email')!.hasError('required')">
                    {{ 'errors.email-required' | translate }}
                </mat-error>
                <mat-error *ngIf="form.get('email')!.hasError('email') && !form.get('email')!.hasError('required')">
                    {{ 'errors.email-error' | translate }}
                </mat-error>
            </mat-form-field>
        </div>

        <button class="btn btn-outline-primary mt-2 register-btn"
            (click)="resetPassword()">{{ 'auth.forgot-password.send-reset' | translate }}
        </button>
    </div>
</div>
