.container-page {
    display: flex;
    flex-direction: column;
}

.container{
    margin: auto;
    display: grid;
    justify-content: space-around;
}

.main-card{
    width: 500px;
    height: 400px;
    margin: auto;
    background-color: #111111;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 30% auto;
    justify-content: center;
}

.container-card{
    display: flex;
    padding: 30px;
    min-width: 450px;
}

.login-logo{
    padding-bottom: 50px;
    padding-top: 30px;
    text-align: center;
}

.header-pass{
    display: grid;
    justify-content: center;
    padding: 40px;
}

.field{
    width: 400px;
    line-height: normal;
    height: 70px;
    color: white;
    font-size: medium !important;
}

.login-link{
    color: gold;
    text-decoration: none;
    cursor: pointer;
}

.link-container{
    display: flex;
    justify-content: center;
}

mat-error{
    color:red;
    font-size: small;
}

.register-btn{
    height: 40px;
    width: 150px;
    margin: auto;
    font-size: medium !important;

    border-color: white;
    color: white;
}

.register-btn:hover{
    border-color: white;
    color: black;
    background-color: white;
}