<div class="back-info-container">
    <div class="title">
        <img src="../../../../assets/media/images/back-icon.png" height=80px>
        <label class="back-title black-drop-shadow fs-50">
            {{ 'workout-info.back.title' | translate }}
        </label>
        <img src="../../../../assets/media/images/back-icon.png" height=80px>
    </div>
    <div class="container-workout-info">
        <div class="exercise-template">
            <div class="images-row">
                <div class="description-warm-up">
                    <label class="fs-30"> {{ 'workout-info.warm-up' | translate }} </label>
                </div>
                <div class="video-warm-up">
                    <iframe style="border-radius:20px;" class="black-drop-shadow" width="530" height="300" src="https://www.youtube.com/embed/Wi0wLCg4jho?autoplay=0&mute=1">
                    </iframe>
                </div>
            </div>
        </div>

        <div class="muscles-explained">
            <label class="fs-40 black-drop-shadow" style="color:rgb(0, 0, 0); margin-bottom:20px;"> {{ 'workout-info.back.benefits.title' | translate }} </label>
            <label class="fs-20"> {{ 'workout-info.back.benefits.text' | translate }} </label>
            <label class="fs-25" style="color:tomato; margin-top:20px;"> {{ 'workout-info.back.benefits.reasons.reason-title-1' | translate }}  </label>
            <label class="fs-20"> {{ 'workout-info.back.benefits.reasons.reason-text-1' | translate }}  </label>
            
            <label class="fs-25" style="color:tomato; margin-top:20px;">{{ 'workout-info.back.benefits.reasons.reason-title-1' | translate }} </label>
            <label class="fs-20"> {{ 'workout-info.back.benefits.reasons.reason-text-2' | translate }} </label>
            
            <label class="fs-25" style="color:tomato; margin-top:20px;">{{ 'workout-info.back.benefits.reasons.reason-title-3' | translate }} </label>
            <label class="fs-20"> {{ 'workout-info.back.benefits.reasons.reason-text-3' | translate }}  </label>
            
            <label class="fs-25" style="color:tomato; margin-top:20px;"> {{ 'workout-info.back.benefits.reasons.reason-title-4' | translate }}  </label>
            <label class="fs-20"> {{ 'workout-info.back.benefits.reasons.reason-text-4' | translate }}  </label>
            
            <label class="fs-25" style="color:tomato; margin-top:20px;">{{ 'workout-info.back.benefits.reasons.reason-title-5' | translate }} </label>
            <label class="fs-20"> {{ 'workout-info.back.benefits.reasons.reason-text-5' | translate }}  </label>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:60px;" src="../../../../assets/media/images/back-01.jpg" height=300px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b>  {{ 'workout-info.back.kettlebell-swings.title' | translate }} </b> </label>
                    <label class="fs-20"><b>{{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.back.kettlebell-swings.why-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}:</b> {{ 'workout-info.back.kettlebell-swings.how-to-description' | translate }} </label>
                    </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b>  {{ 'workout-info.back.barbell-deadlift.title' | translate }}</b> </label>
                    <label class="fs-20"><b>{{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.back.barbell-deadlift.why-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}:</b> {{ 'workout-info.back.barbell-deadlift.how-to-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:60px;" src="../../../../assets/media/images/back-02.gif" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:30px;" src="../../../../assets/media/images/back-03.gif" height=300px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b>  {{ 'workout-info.back.pull-up.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}:</b> {{ 'workout-info.back.pull-up.why-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}:</b> {{ 'workout-info.back.pull-up.how-to-description' | translate }} </label>
                </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b>  {{ 'workout-info.back.dumbbell-single-arm-row.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.back.dumbbell-single-arm-row.why-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}:</b> {{ 'workout-info.back.dumbbell-single-arm-row.how-to-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:50px;" src="../../../../assets/media/images/back-04.gif" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:30px;" src="../../../../assets/media/images/back-05.gif" height=300px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b>  {{ 'workout-info.back.chest-supported-dumbbell-row.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.back.chest-supported-dumbbell-row.why-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}:</b> {{ 'workout-info.back.chest-supported-dumbbell-row.how-to-description' | translate }} </label>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b>  {{ 'workout-info.back.inverted-row.title' | translate }}</b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.back.inverted-row.why-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}:</b> {{ 'workout-info.back.inverted-row.how-to-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:50px;" src="../../../../assets/media/images/back-06.gif" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/back-07.gif" height=300px;>
                </div>
                <div class="description mt-3">
                    <label class="fs-30"> <b> {{ 'workout-info.back.farmers-walk.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.back.farmers-walk.why-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}:</b> {{ 'workout-info.back.farmers-walk.how-to-description' | translate }} </label>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.back.superman.title' | translate }}  </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.back.superman.why-description' | translate }}</label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}:</b> {{ 'workout-info.back.superman.how-to-description' | translate }}</label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:0px;" src="../../../../assets/media/images/back-08.gif" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:130px;" src="../../../../assets/media/images/back-09.jpg" height=230px;>
                </div>
                <div class="description mt-3">
                    <label class="fs-30"> <b>  {{ 'workout-info.back.pendlay-row.title' | translate }}  </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.back.pendlay-row.why-description' | translate }}</label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}:</b> {{ 'workout-info.back.pendlay-row.how-to-description' | translate }}</label>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.back.good-mornings.title' | translate }}  </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}:</b> {{ 'workout-info.back.good-mornings.why-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}:</b> {{ 'workout-info.back.good-mornings.how-to-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top:20px;" src="../../../../assets/media/images/back-10.jpg" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template mb-100">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px; margin-top: 70px;" src="../../../../assets/media/images/back-11.gif" height=230px;>
                </div>
                <div class="description mt-3">
                    <label class="fs-30"> <b> {{ 'workout-info.back.single-arm-t-bar-rows.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.back.single-arm-t-bar-rows.why-description' | translate }}</label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}:</b> {{ 'workout-info.back.single-arm-t-bar-rows.how-to-description' | translate }} </label>
                </div>
            </div>
        </div>

        <div class="footer-note fs-25">
            <label> {{ 'workout-info.footer.text-1' | translate }} <a href="https://www.menshealth.com/uk/building-muscle/a759269/10-best-back-exercises-for-building-muscle/">{{ 'workout-info.footer.text-2' | translate }}</a> {{ 'workout-info.footer.text-3' | translate }} </label>
        </div>

    </div>
</div>