<div class="arms-info-container">
    <div class="title">
        <img src="../../../../assets/media/images/arm-left.png" height=60px>
        <label class="arms-title black-drop-shadow fs-50">
            {{ 'workout-info.arms.title' | translate }}
        </label>
        <img src="../../../../assets/media/images/arm-right.png" height=60px>
    </div>
    <div class="container-workout-info">
        <div class="exercise-template">
            <div class="images-row">
                <div class="description-warm-up">
                    <label class="fs-30">  {{ 'workout-info.warm-up' | translate }} </label>
                </div>
                <div class="video-warm-up">
                    <iframe style="border-radius:20px;" class="black-drop-shadow" width="530" height="300" src="https://www.youtube.com/embed/cJuLkx0DnM4?autoplay=0&mute=1">
                    </iframe>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px;" src="../../../../assets/media/images/arms-01.jpg" height=300px; width=550px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.arms.barbell-bicep-curl.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.arms.barbell-bicep-curl.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.arms.barbell-bicep-curl.why-description' | translate }} </label>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.arms.incline-bicep-curl.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}:  </b> {{ 'workout-info.arms.incline-bicep-curl.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}:  </b> {{ 'workout-info.arms.incline-bicep-curl.why-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px;" src="../../../../assets/media/images/arms-02.gif" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px;" src="../../../../assets/media/images/arms-03.gif" height=300px;>
                </div>
                <div class="description pt-5">
                    <label class="fs-30"> <b> {{ 'workout-info.arms.concentration-curl.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.arms.concentration-curl.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}:  </b> {{ 'workout-info.arms.concentration-curl.why-description' | translate }} </label>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.arms.twisting-dumbbell-curl.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.arms.twisting-dumbbell-curl.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}:  </b> {{ 'workout-info.arms.twisting-dumbbell-curl.why-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px;" src="../../../../assets/media/images/arms-04.gif" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px;" src="../../../../assets/media/images/arms-05.gif" height=300px;>
                </div>
                <div class="description pt-2">
                    <label class="fs-30"> <b> {{ 'workout-info.arms.underhand-seated-row.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.arms.underhand-seated-row.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}:  </b> {{ 'workout-info.arms.underhand-seated-row.why-description' | translate }} </label>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.arms.reverse-curl-straight-bar.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.arms.reverse-curl-straight-bar.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.arms.reverse-curl-straight-bar.why-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px;" src="../../../../assets/media/images/arms-06.gif" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px;" src="../../../../assets/media/images/arms-07.gif" height=300px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.arms.leant-forward-ez-bar-curl.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.arms.leant-forward-ez-bar-curl.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}: </b> {{ 'workout-info.arms.leant-forward-ez-bar-curl.why-description' | translate }} </label>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.arms.reverse-grip-ez-bar-curl.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.arms.reverse-grip-ez-bar-curl.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}:  </b> {{ 'workout-info.arms.reverse-grip-ez-bar-curl.why-description' | translate }}  </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px;" src="../../../../assets/media/images/arms-08.gif" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:100px;" src="../../../../assets/media/images/arms-09.gif" height=300px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.arms.one-arm-tricep-extension.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.arms.one-arm-tricep-extension.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}:  </b> {{ 'workout-info.arms.one-arm-tricep-extension.why-description' | translate }}  </label>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.arms.decline-close-grip-ez-bar-skullcrusher.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.arms.decline-close-grip-ez-bar-skullcrusher.how-to-description' | translate }}  </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}:  </b> {{ 'workout-info.arms.decline-close-grip-ez-bar-skullcrusher.why-description' | translate }}  </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px;" src="../../../../assets/media/images/arms-10.gif" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px;" src="../../../../assets/media/images/arms-11.gif" height=300px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.arms.tate-press.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.arms.tate-press.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}:  </b> {{ 'workout-info.arms.tate-press.why-description' | translate }} </label>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.arms.tricep-dips.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.arms.tricep-dips.how-to-description' | translate }}  </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}:  </b> {{ 'workout-info.arms.tricep-dips.why-description' | translate }}  </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px;" src="../../../../assets/media/images/arms-12.gif" height=300px;>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px;" src="../../../../assets/media/images/arms-13.gif" height=300px;>
                </div>
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.arms.straight-barbell-palms-up-wrist-curl.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.arms.straight-barbell-palms-up-wrist-curl.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}:  </b> {{ 'workout-info.arms.straight-barbell-palms-up-wrist-curl.why-description' | translate }} </label>
                </div>
            </div>
        </div>

        <div class="exercise-template">
            <div class="images-row">
                <div class="description">
                    <label class="fs-30"> <b> {{ 'workout-info.arms.straight-barbell-palms-down-wrist-curl.title' | translate }} </b> </label>
                    <label class="fs-20"><b> {{ 'workout-info.how-to' | translate }}: </b> {{ 'workout-info.arms.straight-barbell-palms-down-wrist-curl.how-to-description' | translate }} </label>
                    <label class="fs-20"><b> {{ 'workout-info.why' | translate }}:  </b> {{ 'workout-info.arms.straight-barbell-palms-down-wrist-curl.why-description' | translate }} </label>
                </div>
                <div class="video">
                    <img class="black-drop-shadow" style="border-radius:20px;" src="../../../../assets/media/images/arms-14.gif" height=300px;>
                </div>
            </div>
        </div>

        <div class="footer-note fs-25">
            <label> {{ 'workout-info.footer.text-1' | translate }} <a href="https://www.menshealth.com/uk/building-muscle/a754655/16-best-exercises-for-bigger-arms/"> {{ 'workout-info.footer.text-2' | translate }} </a> {{ 'workout-info.footer.text-3' | translate }} </label>
        </div>

    </div>
</div>